.cta-button {
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.85rem 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: white;
  font-weight: 700;
}

.position {
  position: absolute;
  top: 124px;
  right: 55px;
}

